# <font color=green> **AULA PRÁTICA 1**
-----

## Objetivo:
Apresentar o Python e as principais ferramentas necessárias para inicializar o estudo de Ciência de Dados


## Tópicos:
1.   Python Básico
2.   Numpy
3.   Pandas
4.   Matplotlib
5.   Seaborn

----
# 1 - Python Básico

In [ ]:
# Atalhos:

# Ctrl + Enter -> rodar a célula
# Shift + Enter -> rodar a célula e ir para próxima linha
# Alt + Enter -> rodar a célula e inserir nova célula imediatamente após

### 1.1 Operações matemáticas

In [1]:
# adição
2 + 7

9

In [2]:
# subtração
2 - 7

-5

In [3]:
# multiplicação
2 * 3

6

In [4]:
# divisão
7/2

3.5

In [5]:
# retorna apenas parte inteira
7 // 2

3

In [6]:
# exponenciação
2 ** 5

32

In [7]:
# resto da divisão
5 % 2

1

In [8]:
# resto da divisão
6 % 2

0

In [9]:
# Expressões matemáticas
2**5 + 3**2

41

### 1.2 Variáveis

Sabendo que a fórmula da porosidade é dada por:

> $\Phi = 100 *\frac{VP}{Vt}$

Calcular a porosidade, considerando que o volume de poros (VP) é $67 cm^3$, volume total (Vt) é $269.39 cm^3$.

In [10]:
100*67/269.39

24.871004862838266

In [11]:
round(100*67/269.39,2)     # round(number, digits) -> define o número de casas decimais

24.87

In [12]:
# definindo variáveis
vp = 67
vt = 269.39

In [13]:
# definindo variáveis
porosidade = 100*vp/vt

In [14]:
porosidade

24.871004862838266

In [15]:
vp = 70
vt = 250
porosidade

24.871004862838266

In [16]:
# definindo variáveis
porosidade = 100*vp/vt
porosidade

28.0

In [17]:
Porosidade   # irá dar erro - Python é case sensitive (tem diferença entre maiusculo e minusculo)

NameError: name 'Porosidade' is not defined

### 1.3 Tipos de dados

Os tipos básicos de dados do Python são:

1. **Números**
    * ***int*** - Inteiros
    * ***float*** - Ponto flutuante
2. **Booleanos** - Assume os valores True ou False. Para declarações condicionais
3. ***Strings*** - Representa um texto.
4. **None** - Representa a ausência de valor

In [18]:
# int
ano = 2020
type(ano)

int

In [19]:
# float 
pressao = 204.65
type(pressao)

float

In [20]:
# booleanos
opcao = True
type(opcao)

bool

In [21]:
2 == 3        # == indica igualdade (retorna True ou False)

False

In [22]:
2 != 3         # != indica diferente

True

In [23]:
# String
nome = 'bomba1'

In [24]:
'válvula ' + 'aberta'

'válvula aberta'

In [25]:
'tipo' + 1   # dará erro, não podemos juntar string com número. Temos que passar o número para string

TypeError: can only concatenate str (not "int") to str

In [26]:
'tipo ' + str(1)           # transformamos o número em string

'tipo 1'

In [27]:
# None
a = None
type(a)

NoneType

### 1.4 Listas
Sequências mutáveis, armazenam coleções de itens.
forma: [1,2,3]

Operações com listas:
https://docs.python.org/3.6/library/stdtypes.html#common-sequence-operations


Métodos de listas:
https://docs.python.org/3.6/library/stdtypes.html#mutable-sequence-types

In [28]:
brocas =  [3/4, 7/8, 1, 1/4]   # criando uma lista
brocas

[0.75, 0.875, 1, 0.25]

In [29]:
3/4 in brocas     # teste lógico - retorna True e False

True

In [30]:
5 in brocas       # teste lógico - retorna True e False

False

In [31]:
falhas = ['tipo A','tipo B', 'tipo C']    # criando outra lista
falhas

['tipo A', 'tipo B', 'tipo C']

In [32]:
brocas + falhas              # somar listas concatena em uma lista só

[0.75, 0.875, 1, 0.25, 'tipo A', 'tipo B', 'tipo C']

In [33]:
len(brocas)                 # tamanho da lista, quantos itens tem na lista

4

In [34]:
brocas

[0.75, 0.875, 1, 0.25]

In [35]:
brocas[0]                   # primeiro elemento da lista

0.75

In [36]:
brocas[3]                  # elemento da lista brocas que está na posição 4

0.25

In [37]:
brocas[4]                  # vai dar erro

IndexError: list index out of range

In [38]:
brocas[0:2]                 # A[i:j] -> recorta a lista do indíce i até o j, sendo o j não é incluído

[0.75, 0.875]

In [39]:
brocas

[0.75, 0.875, 1, 0.25]

In [40]:
brocas[-1]                 # acessa último elemento da lista

0.25

In [41]:
brocas[-3]                 # terceira posição, começando pelo final da lista

0.875

In [42]:
valores = [['a','b','c'], 1, 2 ,3]           # podemos ter listas dentro de uma determinada lista

In [43]:
valores[0]

['a', 'b', 'c']

In [44]:
valores[1]

1

In [45]:
# sort -> coloca na ordem crescente
brocas.sort()  
brocas

[0.25, 0.75, 0.875, 1]

In [46]:
brocas.sort(reverse=True)                # reverse = True -> coloca na ordem decrescente
brocas

[1, 0.875, 0.75, 0.25]

In [47]:
 # copy -> faz uma cópia da lista original. Mudanças nessa nova lista não irá alterar a lista original
brocas1 = brocas.copy()  
brocas1.sort()
print(brocas1)
print(brocas)

[0.25, 0.75, 0.875, 1]
[1, 0.875, 0.75, 0.25]

In [48]:
 # append -> adiciona um novo elemento da lista já existente (na última posição)
brocas1.append(1.5)  
brocas1

[0.25, 0.75, 0.875, 1, 1.5]

### 1.5 Repetição e condicionais

*    **for**

**Formato padrão**

```
for <variável> in <coleção>:
    <instruções>
```

*    **if-else e if-elif-else**

**Formato padrão**

```
if <condição 1>:
    <instruções caso a condição 1 seja verdadeira>
elif <condição 2>:
    <instruções caso a condição 2 seja verdadeira>
elif <condição 3>:
    <instruções caso a condição 3 seja verdadeira>
                        .
                        .
                        .
else:
    <instruções caso as condições anteriores não sejam verdadeiras>
```

In [49]:
x = range(1,11)   # funçao range() -> lista começando em 1 e terminando em 10
y = x**2      # erro - como podemos criar uma lista com os valores de x ao quadrado?

TypeError: unsupported operand type(s) for ** or pow(): 'range' and 'int'

In [50]:
x

range(1, 11)

In [51]:
for valor in x:
  print(valor)

1
2
3
4
5
6
7
8
9
10

In [52]:
y = []
for valor in x:     # para cada valor da lista x
  y.append(valor**2)   # adicionar (append) na lista y, o valor elevado ao quadrado

y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
y = []
for i in range(len(x)):
  y.append((x[i])**2)
print(y)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
y = [valor**2 for valor in x]
y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
# Separar os valores de x em duas listas de par e ímpares:
par = []
impar = []
for valor in x:
  if valor % 2 == 0:
    par.append(valor)
  else:
    impar.append(valor)

print(f'pares: {par}')
print(f'impares: {impar}')

pares: [2, 4, 6, 8, 10]
impares: [1, 3, 5, 7, 9]

In [56]:
par = [valor for valor in x if valor % 2 == 0]
par

[2, 4, 6, 8, 10]

In [57]:
impar = [valor for valor in x if valor % 2 != 0]
impar

[1, 3, 5, 7, 9]

**Exemplo 1**

**A partir da densidade relativa do óleo em relação à água das amostras de diferentes campos, indique automaticamente o  $^OAPI$  e sua classificação.**

**Densidade: 0.88**




Resposta:
> $\rho = \frac{141.5}{^OAPI + 131.5}$

Além disso:

* $^OAPI > 30$ : petróleo leves

*  $22 \leq ^OAPI \leq 30$ : petróleos médios

*  $10 < ^OAPI <  22 $ : petróleos pesados

* $ ^OAPI \leq  10 $ : petróleos extrapesados

In [58]:
ro = 0.88

In [59]:
API = (141.5/ro) - 131.5
API

29.295454545454533

In [60]:
if API > 31:
  print('petróleo leve')
elif 22 <= API and API <= 31:  # and -> satisfaz a condição 1 e a condição 2
  print('petróleo médio')
elif 10 < API and API <22:
  print('petróleo pesado')
else:
  print('petróleo extrapesado')

petróleo médio

### 1.6 Funções

 * **Formato padrão**

```
def nome_function(parametros):
    <instruções>
    return(output)
```

Imagine que queremos agora achar o API e o tipo de petróleo para densidade de 0.75. O que fazemos? Rodamos tudo de novo?

In [61]:
ro = 0.75

In [62]:
API = (141.5/ro) - 131.5
API

57.16666666666666

In [63]:
if API > 31:
  print('petróleo leve')
elif 22 <= API and API <= 31:  # and -> satisfaz a condição 1 e a condição 2
  print('petróleo médio')
elif 10 < API and API <22:
  print('petróleo pesado')
else:
  print('petróleo extrapesado')

petróleo leve

Ao invés de rodar tudo, podemos criar uma função que, a partir da entrada da densidade relativa do óleo, irá fornecer o grau API e o tipo de óleo

Então:

* nome_do_programa = calcular_API

* entradas = densidade relativa do óleo

* programa = calcular API e definir as condições

* saídas = o valor API calculado e o tipo de óleo

In [64]:
def calcular_API(ro):
  API = (141.5/ro) - 131.5
  if API > 31:
    print('petróleo leve')
  elif 22 <= API and API <= 31:  # and -> satisfaz a condição 1 e a condição 2
    print('petróleo médio')
  elif 10 < API and API <22:
    print('petróleo pesado')
  else:
    print('petróleo extrapesado')
  return(print(f'Grau API : {API}'))

In [65]:
ro = 0.75
calcular_API(ro)

petróleo leve
Grau API : 57.16666666666666

In [66]:
ros = [0.89, 1.1, 0.67,0.95]   # podemos aplicar para diferentes ro

In [67]:
for ro1 in ros:
  print(f'ro: {ro1}')
  calcular_API(ro1)
  print("")

ro: 0.89
petróleo médio
Grau API : 27.48876404494382

ro: 1.1
petróleo extrapesado
Grau API : -2.863636363636374

ro: 0.67
petróleo leve
Grau API : 79.69402985074626

ro: 0.95
petróleo pesado
Grau API : 17.44736842105263

**Exemplo 2**

Imagine um tanque cilíndrico com 5 metros de raio e 10 metros de altura. O tanque possui uma vazão de entrada de $15 m^3/min$. Queremos determinar se o tanque irá transbordar após 2 horas.

Resposta:

$Vtanque = \pi R^2 h$

$Vliq = Q * t$

In [68]:
raio = 5     # m
altura = 10  # m
q = 15      # m3/min
t = 2 * 60  # minutos

In [69]:
import math     # pacote de operações matemáticas
Vtanque = math.pi*((raio)**2)* altura
Vtanque

785.3981633974483

In [70]:
Vliq = q * t
Vliq

1800

In [71]:
if Vliq > Vtanque:
  print(f'irá transbordar. Volume {Vliq - Vtanque} acima da capacidade')
else:
  print('Não irá transbordar')

irá transbordar. Volume 1014.6018366025517 acima da capacidade

In [72]:
def volume_liq_por_hora(raio_tanque,altura_tanque,q_entrada,t_em_horas):
  # 1 - Calculo do volume to tanque:
  import math     # pacote de operações matemáticas
  Vtanque = math.pi*((raio)**2)* altura

  # 2 - Volume do líquido na hora dada:
  t = t_em_horas * 60  # (transforma o tempo em min)
  Vliq = q_entrada * t

  # 3 - Transborda ou não transborda?
  if Vliq > Vtanque:
    print('Irá transbordar.')
  else:
    print('Não irá transbordar.')
  return(print(f'Volume de líquido em {t_em_horas}: {Vliq}'))

In [73]:
volume_liq_por_hora(raio_tanque =5,altura_tanque=10,q_entrada = 15,t_em_horas = 2)

Irá transbordar.
Volume de líquido em 2: 1800

In [74]:
raio = 5     # m
altura = 10  # m
q = 15      # m3/min
t1 = 0.5     # horas

In [75]:
volume_liq_por_hora(raio_tanque =raio,altura_tanque = altura,q_entrada = q ,t_em_horas = t1)

Não irá transbordar.
Volume de líquido em 0.5: 450.0

-------
# 2 - Numpy

**Pacote (ou biblioteca) destinado a computação científica.**

* Realiza cálculos em arrays multidimensionais.
* Disponibiliza diferentes funções e operações para cálculos númericos.
* Fornece tarefas matemáticas,como integração, diferenciação, interpolação, operações de álgebra linear e geração de números aleatórios.
* São muito poderosos e rápidos.

**Documentação:**

https://numpy.org/doc/stable/

https://numpy.org/doc/stable/numpy-ref.pdf

### 2.1 Pacotes

Existem diferentes pacotes Python disponíveis para download na internet. Cada pacote tem como objetivo a solução de determinado tipo de problema. Por exemplo, um grupo quer criar em Python funções que resolvem diferentes equações da área reservatório. O grupo pode criar a biblioteca e disponibilizar na internet, de forma que outras pessoas também tenham acesso.

Alguns pacotes são bastante utilizados em um contexto de ciência de dados como por exemplo:

- Numpy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

Os pacotes listados costumam vir na instalação default do Python. Caso seja um pacote que não tenha, devemos instala-lo em nosso sistema.

### 2.2 Importanto o pacote

In [76]:
import numpy    # importando o pacote numpy

In [77]:
numpy.sin((numpy.pi)/2)    # seno(pi/2)

1.0

In [78]:
import numpy as np         # importando o pacote numpy, abreviando o nome do pacote

In [79]:
np.sin((np.pi)/2)

1.0

In [80]:
from numpy import sin,pi    # do numpy só iremos importar o sin e pi

In [81]:
sin(pi/2)

1.0

In [82]:
import numpy as np

In [83]:
np.version.version   # verificar a versão do numpy

'1.16.5'

### 2.3 Criando arrays pelo Numpy

In [ ]:
x = range(1,11)   # lista
x

In [ ]:
np.array(x)     # array a partir de uma lista

In [ ]:
x_array = np.arange(1,11)    # array por built-in methods (própio do numpy)
x_array

In [ ]:
type(x_array)    # tipo do objeto

In [ ]:
x_array.dtype   # função própria do array para saber o tipo de elementos dentro do array

In [ ]:
matriz = [[1,2,3], [4,5,6], [7,8,9]]
matriz

In [ ]:
type(matriz)

In [ ]:
matriz1 = np.array(matriz)
matriz1

In [ ]:
x_array

In [ ]:
x_array.shape   # 10 linhas

In [ ]:
matriz1.shape   # 3 linhas e 3 colunas

### 2.4 Listas x Arrays

In [ ]:
# Listas
x = range(1,11)
y = [valor**2 for valor in x]
y

In [ ]:
# Array
x_array = np.arange(1,11)
y_array = np.square(x_array)
y_array

In [ ]:
# Listas
z = [valor - 5 for valor in x]   # subtraindo cada um dos valores por 5
z

In [ ]:
# Array
z_array = x_array - 5           # subtraindo cada um dos valores por 5
z_array

In [ ]:
# Lista
%time lista1 = [valor**2 for valor in range(100000000)]

In [ ]:
# Array
%time lista2 = np.square(np.arange(100000000))

### 2.5 Seleções com Arrays Numpy

In [ ]:
arr = np.arange(11)
arr

In [ ]:
arr[0]

In [ ]:
arr[6]

In [ ]:
arr[-1]

In [ ]:
arr[0:5]          # [ inicio(inclusive):fim(exclusive)]

In [ ]:
arr[6:]          #inicio até o final

In [ ]:
arr[::-1]       # [inicio,final,passo] - ordem inversa

In [ ]:
arr[0::2]       # [inicio:final:passo]

In [ ]:
arr > 5

In [ ]:
arr[arr > 5]

In [ ]:
arr[((arr % 2) == 0)]    # pegar apenas os valores pares, ou seja, resto da divisão por 2 é 0

In [ ]:
arr[((arr % 2) == 0) or (arr<5)]   # dá erro

In [ ]:
arr[np.any([arr %2 == 0, arr < 5],0)]    # duas condições: resto é 0 OU valor é menor que 5

In [ ]:
arr_2d = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr_2d

[imagem](https://drive.google.com/file/d/1lAKyVgeH0VechbvDfxQnC2AWXET2RY-c/view?usp=sharing)

In [ ]:
arr_2d[0]   # linha 0

In [ ]:
arr_2d[0][1]   # linha 0, coluna 1

In [ ]:
arr_2d[0][0]   # linha 0, coluna 0

In [ ]:
arr_2d[:,2]   # todos os elementos da coluna 2

In [ ]:
arr_2d[0:2,2]   # 3 e 6 apenas

### 2.6 Funções para array

https://numpy.org/doc/stable/reference/ufuncs.html

In [ ]:
arr = np.arange(11)
arr

In [ ]:
np.sqrt(arr)   #raiz

In [ ]:
np.exp(arr)    # exponencial

In [ ]:
np.max(arr)    # maximo

In [ ]:
np.min(arr)    # mínimo

-----
# 3 - Pandas

Pacote para manipulação e análise de dados.

* Biblioteca fundamental para ciência de dados.
* Oferece estruturas e operações para manipular tabelas (bidimensional) e séries (1-dimensão).
* Construída com base no pacote Numpy.


<br />

**Documentação:**

https://pandas.pydata.org/docs/

https://pandas.pydata.org/docs/pandas.pdf

### 3.1 - Estruturas de Dados

**Séries & DataFrames**

<br />

**Séries**

Arrays unidimensionais **rotulados** capazes de armazenar qualquer tipo de dado. Rótulos das linhas são chamados de **index**. 

A forma básica de criação de uma Series é a seguinte:

```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

<br />

**DataFrames**

Estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

In [ ]:
import numpy as np
import pandas as pd    # importando o pandas

In [ ]:
permeabilidade = [6.3, 6.3,17.1,82.4, 119]
s = pd.Series(permeabilidade)         # series

In [ ]:
s

In [ ]:
type(s)    # tipo do s

In [ ]:
s.dtype   # tipo dos elementos

In [ ]:
s[0]

In [ ]:
permeabilidade = [6.3, 6.3,17.1,82.4, 119]   # lista de permeabilidades
s1 = pd.Series(permeabilidade, index = ['Amostra1','Amostra2','Amostra3','Amostra4', 'Amostra5'])   # dando nomes para os índices
s1

In [ ]:
s1['Amostra1']

In [ ]:
s1[0]

In [ ]:
permeabilidade = [6.3, 6.3,17.1,82.4, 119] 
area = [4990, 7002, 7943,10651,8624]
shape = [0.09,0.149,0.122,0.23,0.20]

In [ ]:
df = pd.DataFrame(data = {'area': area,'permeabilidade':permeabilidade,'shape':shape})
df

In [ ]:
df_forma2 = pd.DataFrame(data = np.array([area,permeabilidade,shape]))
df_forma2

In [ ]:
df_forma2 = df_forma2.T   # calcula a transposta 
df_forma2

In [ ]:
df_forma2.columns = ['area','permeabilidade','shape']
df_forma2

In [ ]:
df_forma2.index = ['Amostra'+ str(i) for i in range(len(df_forma2))]
df_forma2

### 3.2 - Importar arquivos

* **Forma 1:**

Em arquivos (a esquerda, no google colab), apertar em *Fazer upload para o armazenamento da sessão*.
> OBS: Essa forma é temporária. Assim, ao abrir novamente o colab ou perder a conexão, o arquivo não estará mais lá e terá que fazer upload novamente.

<br />

* **Forma 2:**

Conectar Drive, assim o google colab terá acesso a sua pasta no drive.

<br />

In [ ]:
import pandas as pd

In [ ]:
# 1. Importando arquivos .csv

# Forma 1 (upload do arquivo)
df = pd.read_csv('datasets_363876_710670_rock.csv', sep = ';')  # Importando o arquivo .csv pelo Pandas (notar sep : tipo de separador)

In [ ]:
df.head()   # lê as 5 primeiras linhas

In [ ]:
df = pd.read_csv('datasets_363876_710670_rock.csv', sep = ',')   # o separador das colunas neste caso deve ser ',', por isso modificamos

In [ ]:
df.head(10)

In [ ]:
df = pd.read_csv('datasets_363876_710670_rock.csv', sep = ',',index_col=0)  # determina qual coluna é o index index_col=0. O default é None
df.head(10)

In [ ]:
# Forma 2 (importando pelo google drive):
df = pd.read_csv('/content/drive/My Drive/2020/Matéria Data Science/aula pratica1/datasets_363876_710670_rock.csv', sep = ',',index_col=0)  # determina qual coluna é o index index_col=0. O default é None

In [ ]:
df.head(10)

In [ ]:
# 2. Importando arquivos .xlxs
df_xlsx = pd.read_excel('/content/drive/My Drive/2020/Matéria Data Science/aula pratica1/tabela-de-pocos-ANP CAMPOS BRASILEIROS.xlsx')
df_xlsx.head(10)

In [ ]:
df_xlsx = pd.read_excel('/content/drive/My Drive/2020/Matéria Data Science/aula pratica1/tabela-de-pocos-ANP CAMPOS BRASILEIROS.xlsx',skiprows=4)
df_xlsx.head(10)

### 3.3 - Funcionalidades do Pandas

In [ ]:
df.head()     # lê as primeiras linhas

In [ ]:
type(df)      # o tipo de df (dataframe)

In [ ]:
df.dtypes      # define o tipo de objeto de cada coluna

In [ ]:
df.shape  # (linhas, colunas)

In [ ]:
X = df.drop(['perm'],axis=1)   # remover a coluna 'perm' do dataframe df. Axis = 0 -> remove a linha, Axis = 1 -> remover a coluna
X.head()

In [ ]:
X.shape     # (num linhas, num colunas)

In [ ]:
df.head()

In [ ]:
df.drop(48, axis=0, inplace=True)         # para a modificação ocorrer no DataFrame

In [ ]:
df.shape    # removi uma linha

In [ ]:
df['perm'].unique()   # para coluna 'perm', quantos elementos distintos se tem

In [ ]:
df['tipo'] = pd.factorize(df['perm'])[0]

In [ ]:
df.head()

In [ ]:
df['temp'] = df['peri']*df['shape']

In [ ]:
df.head()

In [ ]:
df.drop(['temp'], axis = 1, inplace = True)

In [ ]:
df.head()

### 3.4 - Seleções de linhas e colunas

Duas formas de selecionar linhas e colunas no Pandas:

> * Utilizando o .loc

>> <font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os **rótulos** ou uma matriz booleana.


> * Utilizando o .iloc

>> <font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
df.head(10)

In [ ]:
df.loc[1,'area']     # [nome do indice, nome da coluna]

In [ ]:
df.iloc[0,0]         # [posicao_linha,posicao_coluna]

In [ ]:
df['area']           # nome da coluna

In [ ]:
df[0]          # dará erro, precisamos passar a posição por .iloc

In [ ]:
df.iloc[:,0]   # todas as linhas, da coluna na posição 0

In [ ]:
df2 = df[['area','perm']]

In [ ]:
df2.head()

In [ ]:
df2 = df.loc[:,['area','perm']]

In [ ]:
df2.head()

In [ ]:
df.head(10)

In [ ]:
df.loc[1:3,['area','peri']]    # [nome_das_linhas,nome_das_colunas]

In [ ]:
df.iloc[0:3,0:2]    # [linhas de índice 0 a 2, colunas de 0 a 1]

In [ ]:
# Seleção pelas condições
df.head()

In [ ]:
df['perm']< 20    # quais as linhas que a coluna 'perm' é maior que 20

In [ ]:
df[df['perm'] < 20 ]    # seleção das linhas em que a permeabilidade é menor que 20

In [ ]:
df[df['tipo'] == 0]

In [ ]:
df.head(15)

In [ ]:
df[(df['shape'] > 0.2) and (df['perm'] > 100)]    # erro

In [ ]:
df[(df['shape'] > 0.2) & (df['perm'] > 100)]         # condições multiplas em Series

In [ ]:
df[(df['shape'] > 0.2) or (df['perm'] > 100)]         # erro

In [ ]:
df[(df['shape'] > 0.2) | (df['perm'] > 100)]         # condições multiplas em Series

### 3.5 - Funções/operações do Pandas muito importantes

In [ ]:
df.head(8)

In [ ]:
df.shape

In [ ]:
df['perm'].unique()   # retorna os diferentes valores

In [ ]:
df['perm'].nunique()   # a quantidade de valores diferentes em uma deternimada coluna

In [ ]:
df['perm'].value_counts()   # quantidade de vezes que cada valor aparece na coluna

In [ ]:
df['perm'].mean()   # média

In [ ]:
df['perm'].max()   # máximo

In [ ]:
df['perm'].min()   # mínimo

In [ ]:
df.describe()   # resumo estatístico do dataframe (faz as análises para cada coluna)

In [ ]:
df_resumo = df.describe()

In [ ]:
type(df_resumo)

In [ ]:
df_resumo.to_excel('/content/drive/My Drive/2020/Matéria Data Science/aula pratica1/resumo_estatistico.xlsx')   # exporta o dataframe df_resumo para uma planilha do excel (na pasta que foi definido)

In [ ]:
df_resumo.apply(lambda x: round(x,2))    # função apply - está aplicando a função round em todos os termos do dataframe df (round define o número de casas decimais)

# 4 - Matplotlib

* Uma das mais famosas bibliotecas de visualização de dados do Python

* **Documentação:**

https://matplotlib.org/

https://matplotlib.org/users/index.html

<br />
Bem útil:

https://matplotlib.org/tutorials/introductory/usage.html#sphx-glr-tutorials-introductory-usage-py

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
x = np.arange(1,7)
y = x**2

In [ ]:
print(x)
print(y)

In [ ]:
# Functional
plt.plot(x,y)
plt.show()

In [ ]:
plt.plot(x,y, color = 'r',label='Quadrado')
plt.legend()
plt.show()

In [ ]:
plt.plot(x,y, color = 'r',label='Quadrado')
plt.plot(x,x**3,color = 'b', label='Cubo')
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(10,5))   # tamanho da figura
plt.plot(x,y, '-r',label='Quadrado')   # 
plt.plot(x,x**3, '-g',label='Cubo')
plt.legend(loc=0)
plt.xlabel('Eixo X')
plt.ylabel('Eixo Y')
plt.title('Meu Grafico')
plt.xlim(0,5)
plt.ylim(0,30)
plt.grid(b='on')
#plt.savefig('Figura Exemplo.png')

In [ ]:
dados = np.random.randint(0,1001,100)        # gera 100 números aleatórios inteiros de 0 a 1001
plt.plot(list(range(100)),dados)
plt.show()

In [ ]:
dados = np.random.randint(0,1001,100)        # gera 100 números aleatórios inteiros de 0 a 1001
plt.plot(list(range(100)),dados,'--',lw = 3)
plt.show()

In [ ]:
plt.scatter(list(range(100)),dados,color = 'blue')     # gráfico de dispersão
plt.xlim(0,100)
plt.show()

In [ ]:
plt.scatter(list(range(100)),dados, color='red', marker='*', label='Dados')
plt.legend()
plt.xlim(0,100)
plt.ylim(0,1000)
plt.title('Titulo Exemplo')
plt.xlabel('Amostra')
plt.ylabel('Valores')
plt.show()

In [ ]:
# Histograma
plt.hist(dados)
plt.show()

In [ ]:
plt.hist(dados, bins=12, color='orange')
plt.show()

In [ ]:

plt.hist(dados, bins=12, color='purple', cumulative=True)
plt.show()

# 5 - Seaborn

Pacote de gráficos baseado no matplotlib. Gráficos bonitos.


documentação:

https://seaborn.pydata.org/

https://seaborn.pydata.org/examples/index.html

https://seaborn.pydata.org/tutorial.html

In [ ]:
import seaborn as sns

In [ ]:
df.head()

In [ ]:
sns.distplot(df['area'])             # curva é o KDE (Kernel density estimation), uma forma muito comum de estimar a densidade dos dados

In [ ]:
sns.set_style("whitegrid")
sns.distplot(df['area'])

In [ ]:
sns.distplot(df['area'],kde=False)          # kde = kernel density estimation

In [ ]:
sns.distplot(df['area'],kde=False,bins=20,color='purple')

In [ ]:
df.head()

In [ ]:
df.drop(['tipo'],axis=1, inplace = True)

In [ ]:
sns.set(font_scale=1.5,style="whitegrid")
sns.pairplot(df)  # utiliza as colunas numericas

In [ ]:
df_cor = df.corr()
df_cor

In [ ]:
plt.figure(figsize=(10,8))   # tamanho da figura
sns.heatmap(df_cor)

In [ ]:
sns.heatmap(df_cor, annot=True)

In [ ]:
sns.heatmap(df_cor, annot=True, cmap='coolwarm')

In [ ]:
sns.heatmap(df_cor, annot=True, cmap='coolwarm', linecolor='white', linewidths=0.5)

In [ ]:
plt.figure(figsize=(10,8))   # tamanho da figura
cmap1 = sns.color_palette("RdBu", 10)
sns.heatmap(df_cor,  cmap=cmap1,xticklabels = df_cor.columns, yticklabels = df_cor.columns)

In [ ]:
df.head()

In [ ]:
#Regression Plots
sns.lmplot(x='area', y='perm', data=df)

In [ ]:
sns.lmplot(x='area', y='perm', data=df, fit_reg=False)

In [ ]:
sns.lmplot(x='area', y='perm', data=df,aspect=1.2,size=8) # aspect= vertical/horizontal

In [ ]:
# boxplot
sns.boxplot(x="variable", y="value", data=pd.melt(df))    # boxplot de todas as variáveis do dataframe

In [ ]:
sns.set(font_scale=1.3,style="whitegrid")
plt.figure(figsize=(3,6))
sns.boxplot(y=df['area'],showmeans=True,meanprops={"marker":"s",
                       "markerfacecolor":"red", 
                       "markeredgecolor":"red",
                      "markersize":"10"})